:root {
    --clr-background: black;
    --clr-base: white;
    --clr-error: red;
}

html {
    background-color: var(--clr-background);
    color: var(--clr-base);
}

html,
input,
button {
    font-family: "Courier New", Courier, monospace;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Base styles */

button {
    background-color: var(--clr-background);
    color: inherit;
    border: 1px solid currentColor;
    padding: 0.5em 0.75em;
    cursor: pointer;
    transition: all 75ms ease-in;
}

button:is(:hover, :focus-visible) {
    --_offset: 2px;
    outline: none;
    translate: calc(-1 * var(--_offset)) calc(-1 * var(--_offset));
    box-shadow: var(--_offset) var(--_offset) currentColor;
}

button:active {
    translate: 0;
    box-shadow: none;
}

input {
    background-color: var(--clr-background);
    border: 1px solid currentColor;
    color: inherit;
    padding: 0.25em 0.5em;
}

a {
    color: inherit;
    transition: all 75ms ease-in;
}

a:is(:hover, :focus-visible) {
    text-shadow: 0 0 2px currentColor;
}
